<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jarry.chat.mapper.UserInfoMapper">
    <sql id="column_list">
        user_id,
        user_name,
        phone,
        password,
        avater,
        gender
    </sql>
    <resultMap id="userMap" type="com.jarry.chat.model.response.UserInfo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="login" resultMap="userMap">
        SELECT *
        FROM user
        WHERE phone=#{account} and password=#{password}
    </select>
    <select id="checkAccount" resultMap="userMap">
        SELECT *
        FROM user
        WHERE phone=#{account}
    </select>
    <insert id="register" parameterType="com.jarry.chat.model.response.UserInfo">
        insert into user
        (user_id,user_name,phone,avatar,gender)
        values
        (#{userInfo.userId},#{userInfo.userName},#{userInfo.phone},#{userInfo.avatar},#{userInfo.gender})
    </insert>
</mapper>